body {
  background-color: #2c3539;
  color: White;
}
.gunmenu {
  background-color: #daa520;
  width: 300px;
  height: 200px;
}
#flexiboi {
    display: flex;
    flex-direction: row;
}
#muuchwow {
  display: flex;
  flex-direction: row;
}
.gunmenu:hover {
  background-color: red;
  color: blue;
}
a {
  color: orange;
}
